 <div class="ri_main_details">
                    <div class="ri_title"><h2>{{name}}</h2></div>
                    <div class="ri_artist"><h3>{{artist}}</h3></div>
                    <div class="ri_addcredits">{{additional_credits}}</div>
                    <div class="ri_release">{{release}}</div>
                    <div class="ri_platforms"></div>
                    <div class="ri_extended_details">
                        <div class="ri_description">{{{description}}}</div>
                    </div>
                    </div>
                    
